@import url("/public/fonts/nasalization-rg.otf");
@font-face {
  font-family: "Nasalization";
  src: url("/public/fonts/nasalization-rg.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(210, 202, 222);
  background-color: #1b0132;
  background-image: url("/imgs/landingpage.webp");
  background-size: cover;
}

.img-box {
  @layer {
    box-shadow: 29px -30px 0px 8px #361f43;
    -webkit-box-shadow: 29px -19px 0px 8px rgba(54, 31, 67, 1);
    -moz-box-shadow: 29px -19px 0px 8px rgba(54, 31, 67, 1);
  }
}

/* @media screen and (max-width: 320px) {
  .img-box{
    display: none;
  }
} */

.comingsoon {
  @layer {
    display: grid;
    width: 100%;
    place-items: center;
    background-size: cover;
    background-position: center;
  }
}

.comingsoon > * {
  @layer {
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80rem /* 1280px */;
    gap: 1rem /* 16px */;
    padding: 1rem /* 16px */;
  }
}

.comingsoon-content {
  @layer {
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80rem /* 1280px */;
    gap: 1rem /* 16px */;
    padding: 1rem /* 16px */;
  }
}

.custom-btn {
  @apply mobS:px-3 mobS:py-4 mobS:text-sm tablet:px-4 tablet:py-4 tablet:text-base rounded-none font-nasa bg-slate-100 text-black hover:bg-violet-900 hover:text-gray-300;
}

